@import 'assets/styles/colors';
@import 'assets/styles/buttons';
@import 'assets/styles/variables';

//Variables
$font-size: 10px;
$font-size-employee-details: 16px;
$font-body: Roboto, "Helvetica Neue", sans-serif;


html, body { height: 100%; width: 100%; padding-top: 0; padding-bottom: 0}
body { margin: 0; font-family: $font-body }
