<section class="employees">
  <div class="employees__wrapper">
    <mat-card>
      <mat-card-title class="employees__title">
        <mat-list class="employees__list">
          <mat-list-item *ngFor="let employee of employees" routerLink="/detail/{{employee.id}}">
            <div>
              <button
                mat-raised-button
                color="primary"
                type="button"
                class="employees__button"
                (click)="onSelect(employee)"
                [class.selected]="employee === selectedEmployee"
              >
                <span >{{ employee.name }} {{ employee.surname }}</span>
              </button>
            </div>
          </mat-list-item>
          <a mat-raised-button color="primary" type="button" class="employees__button" (click)="showForm()" routerLink="/detail/new">+</a>
        </mat-list>

        <app-employee-detail
          [employee]="selectedEmployee"
          [employeeList]="employees"
          [isFormVisible]="isFormVisible"
          (newEmployeeEvent)="addEmployeeToList($event)"
          (updateEmployeeEvent)="updateEmployee($event)"
        >
        </app-employee-detail>
      </mat-card-title>
    </mat-card>
  </div>
</section>
