@import '../../../styles';


.employees {
  text-align: center;

  &__button {
    font-size: 1.2rem;
    width: 35rem;

    &:hover {
      background: $juicy-purple;
    }

    &.selected {
      background: $sea-blue;
    }
  }

  &__list {
    list-style-type: none;
  }
}

@media screen and (max-width: $mobile-resolution-width) {
  .employees {

    &__button {
      width: 20rem;
    }
  }
}

@media screen and (max-width: $tablet-resolution-width) {
  .employees {

    &__button {
      width: 20rem;
    }
  }
}
