@import "../../../styles";

.employees {
  padding-top: 0;
  background-color: $color-app-component-background;

  &__wrapper {
    width: $desktop-resolution;
    margin: auto;
    background-color: $white-basic;
  }

  &__title {
    text-align: center;
  }

  &__button {
    font-size: 1.2rem;
    width: 35rem;

    &:hover {
      background: $juicy-purple;
    }

    &.selected {
      background: $sea-blue;
    }
  }

  &__list {
    list-style-type: none;
  }
}

@media screen and (max-width: $mobile-resolution-width) {
  .employees {
    &__button {
      width: $card-mobile-width;
    }
  }
}

@media screen and (max-width: $tablet-resolution-width) {
  .employees {
    &__wrapper {
      width: $mobile-resolution-width;
    }

    &__button {
      width: $card-mobile-width;
    }
  }
}

@media screen and (max-width: $desktop-resolution) {
  .employees {
    &__wrapper {
      max-width: $tablet-resolution-width;
    }
  }
}
