<div class="employees">
<!--  <mat-toolbar color="primary" class="employees__title"> {{"employee.title" | translate}}: </mat-toolbar>-->

  <mat-list class="employees__list">

    <mat-list-item *ngFor="let employee of employees" class="employees__employee">
      <div class="employees__employee--alignment">
        <button mat-raised-button color="primary" type="button" class="employees__button"
                (click)="onSelect(employee)" [class.selected]="employee === selectedEmployee">
          <!--                class="employees__button"-->

          <span>{{employee.name}} {{employee.surname}}</span>
<!--           class="employees__button-name"-->
        </button>
      </div>
    </mat-list-item>
  </mat-list>

  <app-employee-detail [employee]="selectedEmployee"
                       [employeeList]="employees"
                       (newEmployeeEvent)="addEmployeeToList($event)"
                       (updateEmployeeEvent)="updateEmployee($event)"
>
  </app-employee-detail>
</div>
