<mat-card class="details__form" id="employee-form">
  <mat-card-title class="details__info--title">
    {{"authorization.login" | translate }}
  </mat-card-title>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <mat-form-field class="details__form--field">
      <mat-label for="username"
      >{{"authorization.username" | translate }}:
      </mat-label>
      <input
        matInput
        id="username"
        type="text"
        class="details__form--field-input"
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field class="details__form--field">
      <mat-label>{{"authorization.password" | translate }}:</mat-label>
      <input
        type="password"
        formControlName="password"
        class="details__form--field-input"
        matInput
      />
    </mat-form-field>

    <div class="details__form--button">
      <button
        mat-flat-button
        color="primary"
        type="submit"
      >
        {{"authorization.login.button" | translate }}
      </button>
    </div>
  </form>
</mat-card>
