<div class="searchbar">
  <mat-card-title class="searchbar__title">{{
    "dashboard.searchbar.title" | translate
  }}</mat-card-title>
  <mat-form-field class="searchbar__field">
    <mat-label>{{ "dashboard.searchbar.input" | translate }}</mat-label>
    <input
      matInput
      type="text"
      #searchBox
      (input)="search(searchBox.value)"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let employee of employees$ | async"
        (click)="navigateToEmployee(employee.id)"
      >
        {{ employee.firstName }} {{ employee.surname }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
