<div class="searching">
  <mat-form-field class="searching__field">
    <mat-label>{{"dashboard.searching" | translate}}</mat-label>
    <input
      matInput
      type="text"
      #searchBox
      (input)="search(searchBox.value)"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let employee of employees$ | async"
        (click)="navigateToEmployee(employee.id)"
      >
        {{ employee.name }} {{ employee.surname }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
