
.messages {

  font-size: 0.7rem;
  padding: 0;
  margin: 0;

  &__toolbar {
    padding: 0;
    margin: 0
  }

  &__content {
    line-height: 0.9rem;
  }

  &__delete {
    display:inline-block;

    &--icon {
      text-align:center;
    }
  }
}
