//Button colors
$button-color: #3498db;
$button-hover-color: darken(#3498db, 10%);
$button-selected-color: #8a2be2;
$button-text-color: #fff;
$button-disabled-color: #eee;
$color-app-component-background: #673ab7;

//Palette:
$white: #fff;
$white-hover: #f0f0f0;
$grey: #555;
$black: #333;
$sea-blue: darken(#3498db, 10%);
$sea-blue-dark: darken($sea-blue, 10%);
$dark-purple: #673ab7;
$juicy-purple: #8a2be2;
