//Positioning
$grid-gap-form-field: 16px;
$margin-form-field: 10px;

//Card
$card-mobile-width: 20rem;

//Fonts
$font-size: 10px;
$font-body: Roboto, "Helvetica Neue", sans-serif;
$font-employee-detail-title: 24px;

//Resolutions
$desktop-resolution: 1024px;
$tablet-resolution-width: 780px;
$mobile-resolution-width: 480px;
