//Positioning
$grid-gap-form-field: 16px;
$margin-form-field: 10px;
$padding-navbar: 20px;
$padding-dashboard-employee: 8px 16px;

//Card
$card-mobile-width: 20rem;
$card-field-mobile-width: 38rem;

//Fonts
$font-size: 10px;
$font-body: Roboto, "Helvetica Neue", sans-serif;
$font-employee-detail-title: 24px;
$font-size-dashboard-title: 1.5rem;

//Resolutions
$desktop-resolution: 1024px;
$tablet-resolution-width: 780px;
$mobile-resolution-width: 480px;
