<div class="navbar">
  <mat-toolbar color="primary" class="navbar__toolbar">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/employees">{{"navbar.employees" | translate}}</button>
      <button mat-menu-item routerLink="/dashboard">{{"navbar.dashboard" | translate}}</button>
    </mat-menu>

    <span class="navbar__title">{{ "navbar.title" | translate }}</span>

    <span class="navbar__spacer"></span>
    <app-language-picker></app-language-picker>
    <button
      mat-icon-button
      [matMenuTriggerFor]="messages"
      [disabled]="this.messageService.messages.length < 1"
    >
      <mat-icon
        matBadge="{{ this.messageService.messages.length }}"
        [matBadgeHidden]="this.messageService.messages.length === 0"
        aria-hidden="false"
        matBadgeColor="accent"
        >notifications</mat-icon
      >
    </button>
    <mat-menu #messages="matMenu" class="navbar__messages">
      <app-messages></app-messages>
    </mat-menu>
  </mat-toolbar>
</div>
