@import '../../../styles';

* {
  width: auto;
}

.navbar {

  &__toolbar {
    resize: both;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__messages {
    display: inline-block
  }
}

@media screen and (max-width: $mobile-resolution-width) {
  * {
    //margin: auto;
  }

  .navbar {

    &__toolbar {
      padding: 0;
    }

    &__title {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet-resolution-width) {
  .navbar {
    margin: auto;

    &__toolbar {
      padding: 0;
    }
  }
}

@media screen and (max-width: $desktop-resolution) {
  .navbar {

    &__toolbar {
      padding: 0;
    }

    &__spacer {
      flex: 1 1 auto;
    }

    &__messages {
      display: inline-block
    }
  }
}

