<section class="dashboard">
  <div class="dashboard__wrapper">
    <mat-card>
      <mat-card-title class="dashboard__title">{{
        "dashboard.employee.top" | translate
      }}</mat-card-title>
      <mat-list class="dashboard__list">
        <mat-list-item *ngFor="let employee of employees">
          <span class="dashboard__employee">
            {{ employee.name }} {{ employee.surname }}</span
          >
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="dashboard__count">
      <mat-card-title class="dashboard__count-title">{{
        "dashboard.employee.active" | translate
      }}</mat-card-title>
      <mat-card-content class="dashboard__count--number">
        {{ activeEmployeeCount }}</mat-card-content
      >
    </mat-card>
  </div>
</section>
