@import '../../../styles';




.details {
  display: flex;
  justify-content: center;
  align-items: center;


  &__info {
    width: 35rem;


    &--title {
      font-size: $font-employee-detail-title; /* Adjust the size as needed */
      font-weight: bold;
      color: $black; /* Change the color to your preferred color */

      &::after {
        content: ''; /* Add a pseudo-element for a decorative line */
        display: block;
        /* Adjust the width of the line */
        height: 0.1rem; /* Adjust the thickness of the line */
        background-color: $black; /* Match the color of the title */
        margin-top: 0.6rem; /* Adjust spacing as needed */
      }

      &:hover {
        background-color: $white-hover; /* Change to your preferred hover color */
        transition: background-color 0.3s ease;
      }

    }

    &--content {
      font-size: $font-size-employee-details;
      line-height: 1.5;
      color: $grey; /* Adjust the color to your preferred color */

      &:last-child {
        margin-bottom: 0; /* Remove margin from the last content item */
      }

      &:hover {
        background-color: $white-hover; /* Change to your preferred hover color */
        transition: background-color 0.3s ease;
      }
    }
  }


  &__form {
    border: none;
    align-content: center;
    width: 35rem;

    &--field {
      width: 193.5%;
      font-size: 1.2rem;
      display: grid;
      margin: $margin-form-field;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap-form-field; /* Adds gap of 16px for both rows and columns */


      &-input, &-select {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--button {
      text-align: center;

    }
  }

}


@media screen and (max-width: 480px) {
  .details {

    &__info {
      width: 20rem;
    }

    &__form {
      width: 20rem;
    }
  }
}

@media screen and (max-width: 780px) {
  .details {

    &__info {
      width: 20rem;
    }

    &__form {
      width: 20rem;
    }
  }
}
