@import "../../../styles";

.details {
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    width: 35rem;

    &--title {
      font-size: $font-employee-detail-title;
      font-weight: bold;
      color: $black;

      &::after {
        content: "";
        display: block;

        height: 0.1rem;
        background-color: $black;
        margin-top: 0.6rem;
      }

      &:hover {
        background-color: $white-hover;
        transition: background-color 0.3s ease;
      }
    }

    &--content {
      font-size: $font-size-employee-details;
      line-height: 1.5;
      color: $grey;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $white-hover;
        transition: background-color 0.3s ease;
      }
    }
  }

  &__form {
    border: none;
    align-content: center;
    width: 35rem;

    &--field {
      width: 193.5%;
      font-size: 1.2rem;
      display: grid;
      margin: $margin-form-field;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap-form-field;

      &-input,
      &-select {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--button {
      text-align: center;
    }
  }
}

@media screen and (max-width: $mobile-resolution-width) {
  .details {
    &__info {
      width: $card-mobile-width;
    }

    &__form {
      width: $card-mobile-width;
    }
  }
}

@media screen and (max-width: $tablet-resolution-width) {
  .details {
    &__info {
      width: $card-mobile-width;
    }

    &__form {
      width: $card-mobile-width;
    }
  }
}
