<div class="details">
  <div *ngIf="employee">
    <h2>{{employee.name | uppercase}} {{employee.surname | uppercase}} Details</h2>
    <div class="details__info">
      <div>id: {{employee.id}}</div>
      <div>Employee name: {{employee.name}} {{employee.surname}}</div>
      <div>Skills: {{employee.skills}}</div>
    </div>
  </div>

  <div class="details__form">
    <h2>{{employee ? 'Edit: ' : 'Add: '}}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="details__form--field">
        <span formControlName="id">{{employee ? 'id: ' + employee.id : ''}}</span>
      </div>

      <div class="details__form--field">
        <label for="name">name</label>
        <input id="name" type="text" class="details__form--field-input" formControlName="name">
      </div>

      <div class="details__form--field">
        <label for="surname">surname</label>
        <input id="surname" type="text" class="details__form--field-input" formControlName="surname">
      </div>

      <div class="details__form--field">
        <label for="skills">skills </label>
        <select multiple formControlName="skills" id="skills" class="details__form--field-select">
          <option *ngFor="let skill of skills" [ngValue]="skill">
            {{skill}}
          </option>
        </select>
      </div>

      <div>
        <button type="submit" [disabled]="registerForm.invalid">{{employee ? 'Update' : 'Register'}}</button>
      </div>

    </form>
    <br>
    <div>{{registerForm.value | json}}</div>

  </div>
</div>
