@import '../../../styles';


.details {
  width: 471px;
  margin-left: 18px;




  &__info {
    font-size: 1.2rem;
    width: 30%;
  }

  &__form {
    border: none;

    &--title {
      padding-right: 120px;
      font-size: 1.4rem;
      margin-bottom: 0;
    }

    &--field {
      width: 193.5%;
      font-size: 1.2rem;
      //padding-bottom: 1.1rem;
      display: grid;
      margin: 10px;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px; /* Adds gap of 16px for both rows and columns */

      #label {

      }


      &-input, &-select {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}


.elegant-card-title {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #333; /* Change the color to your preferred color */
  margin-bottom: 12px; /* Adjust spacing as needed */

}

.elegant-card-title::after {
  content: ''; /* Add a pseudo-element for a decorative line */
  display: block;
  width: 40px; /* Adjust the width of the line */
  height: 2px; /* Adjust the thickness of the line */
  background-color: #333; /* Match the color of the title */
  margin-top: 6px; /* Adjust spacing as needed */
}

.elegant-card-title:hover {
  background-color: #f0f0f0; /* Change to your preferred hover color */
  transition: background-color 0.3s ease;
}

.mat-card-content {
  font-size: 16px;
  line-height: 1.5;
  color: #555; /* Adjust the color to your preferred color */
  margin-bottom: 12px; /* Adjust spacing between card content */
}

.mat-card-content:last-child {
  margin-bottom: 0; /* Remove margin from the last content item */
}

/* Style for translations */
//.mat-card-content::before {
//  content: '[' attr(data-translate) '] '; /* Adding a translation prefix */
//  font-weight: bold;
//  color: #888; /* Adjust the color to your preferred color */
//}

/* Add a hover effect on card content items */
.mat-card-content:hover {
  background-color: #f0f0f0; /* Change to your preferred hover color */
  transition: background-color 0.3s ease;
}
