<div class="details">
  <div *ngIf="employee">
    <h2>{{employee.name | uppercase}} {{employee.surname | uppercase}} {{"details.title" | translate}}</h2>
    <div class="details__info">
      <div>{{"details.id" | translate}} {{employee.id}}</div>
      <div>{{"details.name" | translate}}: {{employee.name}} {{employee.surname}}</div>
      <div>{{"details.manager" | translate}}: {{employee.manager?.name}} {{employee.manager?.surname}}</div>
      <div>{{"details.date" | translate}}: {{employee.date | date: 'dd.MM.yyyy'}}</div>
      <div>{{"details.skills" | translate}}: {{employee.skills}}</div>
      <div>{{"details.projects" | translate}}: {{employee.projects}}</div>
    </div>
  </div>

  <div class="details__form">
    <h2 class="details__form--title">{{employee ? ("details.form.title.edit" | translate) : ("details.form.title.add" | translate)}}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="details__form--field">
        <span formControlName="id">{{employee ? ("details.form.id") + employee.id : ''}}</span>
      </div>

      <div class="details__form--field">
        <label for="name">{{"details.form.name" | translate}}:</label>
        <input id="name" type="text" class="details__form--field-input" formControlName="name">
      </div>

      <div class="details__form--field">
        <label for="surname">{{"details.form.surname" | translate}}:</label>
        <input id="surname" type="text" class="details__form--field-input" formControlName="surname">
      </div>

      <div class="details__form--field">
      <label for="manager">{{"details.form.manager" | translate}}:</label>
      <select formControlName="manager" id="manager" class="details__form--field-select">
        <option *ngFor="let employeeOption of employeeList" [ngValue]="employeeOption">
          {{ employeeOption.name + " " + employeeOption.surname }}
        </option>
      </select>
      </div>

      <div class="details__form--field">
        <label for="date">{{"details.form.date" | translate}}:</label>
        <input type="date" id="date" formControlName="date" class="details__form--field-input"
          [value]="registerForm.get('date')?.value | date: 'dd.MM.yyyy'"/>
      </div>

      <div class="details__form--field">
        <label for="skills">{{"details.form.skills" | translate}}:</label>
        <select multiple formControlName="skills" id="skills" class="details__form--field-select">
          <option *ngFor="let skill of skills" [ngValue]="skill">
            {{skill}}
          </option>
        </select>
      </div>

      <div class="details__form--field">
        <label for="projects">{{"details.form.projects" | translate}}:</label>
        <select multiple formControlName="projects" id="projects" class="details__form--field-select">
          <option *ngFor="let project of projects" [ngValue]="project">
            {{project}}
          </option>
        </select>
      </div>

      <div>
        <button type="submit" [disabled]="registerForm.invalid">{{employee ? ("details.form.button.update" | translate) : ("details.form.button.register" | translate)}}</button>
      </div>

  </form>
  <br>
  <div>{{registerForm.value | json}}</div>

  <footer class="language-switch">
    <button
      class="language-switch__button"
      [class.language-switch__button--selected]="
      this.translate.currentLang === 'pl'
    "
      (click)="setLanguage('pl')">
      pl
    </button>
    |
    <button
      class="language-switch__button"
      [class.language-switch__button--selected]="
      this.translate.currentLang === 'en'
    "
      (click)="setLanguage('en')">
      en
    </button>
  </footer>


</div>
